<div class="title">Simple Reactive Form</div>

<div class="container">
  <div class="row">

    <div class="col">
      <mat-form-field class="w-100 py-2">
        <input matInput placeholder="Favorite Color" autocomplete="off"
               [formControl]="favoriteColorFormControl">

        <mat-error *ngIf="favoriteColorFormControl.hasError('required')">
          Favorite color is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="favoriteColorFormControl.hasError('minlength')">
          Favorite color must be at least <strong>3</strong> characters long.
        </mat-error>
        <mat-error *ngIf="favoriteColorFormControl.hasError('maxlength')">
          Favorite color must be less than <strong>10</strong> characters long.
        </mat-error>
      </mat-form-field>
    </div>

    <hr class="mt-2">

    <div class="row">
      <div class="col">
        Entered Favorite Color:  {{favoriteColor}}
      </div>
    </div>

  </div>
</div>
